<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <logger name="com.katanox.api" level="INFO" additivity="false">
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
